@font-face {

font-family: 'Cuprum';

src: url('fonts/Cuprum-Regular.ttf') format('truetype');
}
body {
	font-family: Cuprum;
	align-items: center;
	background-color: #f5f5f5;
	min-height: 100vh;
	justify-content: center;
	margin: 0;
background-image: url(images/fon.jpg);}
	
.container {
	text-align: center;
color: white;
margin-top: 130px;}
	
.container h1 {
	font-size: 8rem;
	letter-spacing: 10px;
	margin: 0;}
	
.container h4 {
	font-size: 1.25rem;
	font-weight: 300;}
	header {
font-family: sans-serif;
background-color: #080011;
display: flex;
justify-content: space-between;

}
.topbutton {
width:150px;
border:2px solid #ccc;
background:#f7f7f7;
text-align:center;
padding:10px;
position:fixed;
bottom:50px;
right:50px;
cursor:pointer;
color:#333;
font-family:Cuprum;
font-size:20px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-khtml-border-radius: 5px;
text-decoration: none;
}

.logo-img{
width: 116px;
}
.tel ul li{
 font-size: 25px;
 list-style-type: none;
 float: left;
 padding: 20px 15px;
 color: #fff;
 margin-right: 10px;

 }
 .tel ul li a{
 color: #6f8ca7;
 text-decoration: none;
 
 }
.tel ul li a:hover {
opacity: 1;
background: #002137;
transition:all 0.5s;
color: white;
}
.call {
width: 29px;
margin-bottom: -5px;
margin-left: 3px;
}
.call:hover {
transform: scale(1.3);
}
.preim p {
font-size: 55px;
margin: 40px;
display: flex;
justify-content: center;
color: white;
}
.navigation {
display: flex;
justify-content: center;
margin: 0 auto;
background-color: #1e1e1e;

}
.navigation li {
float: left;
color: white;
font-size: 40px;
list-style-type: none;
margin-left: 50px;
margin-right: 50px;
}
.navigation a {
color: white;
text-decoration: none;
}
