@font-face {

font-family: 'Cuprum';

src: url('fonts/Cuprum-Regular.ttf') format('truetype');
}

body {
	font-family: Cuprum;
	margin: 0 auto; 
  background-image: url(images/fon.jpg);
}
header {
font-family: sans-serif;
background-color: #080011;
display: flex;
justify-content: space-between;

}
.topbutton {
width:150px;
border:2px solid #ccc;
background:#f7f7f7;
text-align:center;
padding:10px;
position:fixed;
bottom:50px;
right:50px;
cursor:pointer;
color:#333;
font-family:Cuprum;
font-size:20px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-khtml-border-radius: 5px;
text-decoration: none;
}

.logo-img{
width: 116px;
}
.tel ul li{
 font-size: 25px;
 list-style-type: none;
 float: left;
 padding: 20px 15px;
 color: #fff;
 margin-right: 10px;

 }
 .tel ul li a{
 color: #6f8ca7;
 text-decoration: none;
 
 }
.tel ul li a:hover {
opacity: 1;
background: #002137;
transition:all 0.5s;
color: white;
}
.call {
width: 29px;
margin-bottom: -5px;
margin-left: 3px;
}
.call:hover {
transform: scale(1.3);
}
.preim p {
font-size: 55px;
margin: 40px;
display: flex;
justify-content: center;
color: white;
}
.GT3000 p {
font-size: 90px;
margin: 50px;
display: flex;
justify-content: center;
color: white;
}
.GT3000 h1 {
font-size: 90px;
margin: 50px;
display: flex;
justify-content: center;
color: white;
}
.navigation {
display: flex;
justify-content: center;
margin: 0 auto;
background-color: #1e1e1e;

}
.navigation li {
float: left;
color: white;
font-size: 40px;
list-style-type: none;
margin-left: 50px;
margin-right: 50px;
}
.navigation a {
color: white;
text-decoration: none;
}


  /* АССОРТИМЕНТ*/
.wrapper {
    max-width: 1500px;
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
}
.content {
   
    min-width: 360px;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;

}

.content img {
    float: left;
    width: 38%;
    border: 15px solid #d4d4d4;
    margin-right: 40px;
    margin-top: 15px;
    line-height: 1px;
}
.content h2{
    font-size: 120%;
    color: #2c3e50;
}
.content aside{
    font-size: 75%;
    color: #9c9c9c;
}
.text {
    float: left;
    font-size: 34px;
}
.text_salon {
    float: left;
    font-size: 34px;
}
.text_salon article {
  margin-top: 15px;
}
/*GALLERY*/
.boss-gall {
max-width: 1500px;
}
.gallery {
display: flex;
justify-content: center;
margin: 0 auto;
 }
.gal-img {
margin: 10px;
border: 6px solid white;
}
.gal-img img {
height: 440px;
}
.wrapper_gal{
  max-width: 1500px;
    margin: 0 auto;
    margin-bottom: 50px;
}

/* FOOTER*/
footer {
	background-color: #3b3b3b;
}
.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #3b3b3b;
	color: #FFFFFF;
	font-weight: lighter;
	letter-spacing: 5px;
	border-top-width: 2px;
}
button {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  font-size: 33px;
  color: white;
  margin-bottom: 13px;
  background-color: #3b3b3b;
}
iframe {
height: 440px;
width: 725.5px;   
}




